.title{
    background-color: #5792f2;
    padding: 1%;
    width: 10.2%;
}

h1{
    color: blue;
}

a:visited{
    color: grey;
}

a:hover{
    background-color: #5792f2;
    color: white;
}

img{
    width: 500px;
    height: 350px;
}

.left{
    float: left;
}

.right{
    float: left;
    margin-left: 10%;
}