{% extends "baseItems/layout.html" %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'baseItems/style.css' %}">
{% block title %}<div class="title">Event</div>{% endblock %}
{% endblock %}
{% block content %}
<h2>{{ event.title }}</h2>
<h3>{{ event.subtitle }}</h3>
<br>
<p>{{ event.body }}</p>
<br>
<p>From {{ event.start_date }} to {{ event.end_date }}</p>
<p>
    Classes
    <br/>
    <a href="{% url 'baseItems:updateEventClass' event.id %}"><button type="button">Update Event</button></a>
    <a href="{% url 'baseItems:deleteEventClass' event.id %}"><button type="button">Delete Event</button></a>
</p>
{% endblock %}