{% extends "baseItems/layout.html" %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'baseItems/style.css' %}">
{% block title %}<div class="title">New</div>{% endblock %}
{% endblock %}
{% block content %}
<h2>{{ new.title }}</h2>
<h3>{{ new.subtitle }}</h3>
<p>{{ new.body }}</p>
<img src="{{ new.image.url }}">
<br/>
{{ new.publish_date }}
<br/>
<p>
    Functions
    <br/>
    <a href="{% url 'baseItems:updateNew' new.id %}"><button type="button">Update New</button></a>
    <a href="{% url 'baseItems:deleteNew' new.id %}"><button type="button">Delete New</button></a>
</p>
<p>
    Classes
    <br/>
    <a href="{% url 'baseItems:updateNewClass' new.id %}"><button type="button">Update New</button></a>
    <a href="{% url 'baseItems:deleteNewClass' new.id %}"><button type="button">Delete New</button></a>
</p>
{% endblock %}
