<h2>News</h2>
{% if news %}
    <ul>
        {% for new in news %}
            <li>
                <a href="{% url 'baseItems:detailNew' new.id %}">{{ new.title }} <br/> {{ new.subtitle }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No news are availables</p>
{% endif %}
<a href="{% url 'baseItems:createNew' %}"><button type="button">Create New(Function)</button></a>
<a href="{% url 'baseItems:index' %}"><button type="button">Index</button></a>
<a href="{% url 'baseItems:createNewClass' %}"><button type="button">Create New(Class)</button></a>