{% extends 'myapp/base.html' %}

{% block title %}
	<title>Events List</title>
{% endblock title %}

{% block content %}
	<h1>Events</h1>
	<div class="list">
	{% if events_list %}
		<table style="width:50%">
			<tr>
				<th>Title / Start date</th>
				<th>Update</th>
				<th>Delete</th>
			</tr>
			{% for i in events_list %}
				<tr>
					<td align="center"><a href="{% url 'myapp:events_detail' i.id %}"><p>{{ i.title }} / {{ i.start_date|date:'d-m-Y' }}</p></a></td>
					<td align="center"><a href="{% url 'myapp:event_update' i.id %}"><p>Modify</p></a></td>
					<td align="center"><a style="color:red" href="{% url 'myapp:event_delete' i.id %}" id="myBtn">Delete</a>
						<button id="myBtn">Open Modal</button>

						<!-- The Modal -->
						<div id="myModal" class="modal">

  						<!-- Modal content -->
  						<div class="modal-content">
    						<span class="close">&times;</span>
    						<p>Are yo usure?</p>
    					</div>
						</div>
					</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>The list is empty</p>
	{% endif %}
	<div class="back">
		<a href="{% url 'myapp:index' %}">Go back to Index</a>
	</div>
	</div>

<!-- Trigger/Open The Modal -->


<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

{% endblock content %}


